/* add your CSS here */

.container {
  background-color: LightGoldenRodYellow;
  border: 3px dashed Sienna;
  border-radius: 20px;
  width: 300px;
  padding: 30px;
  box-shadow: 10px 10px 5px 0px rgba(92, 89, 163, 0.7);
  font-family: 'Helvetica', sans-serif;
}

h3 {
  color: SaddleBrown;
  padding-bottom: 5px;
  font-size: 25px;
  margin: auto;
}

img {
  width: 300px;
  border: 2px outset Coral;
  border-radius: 10px;
  margin-bottom: 15px;
}

.info {
  color: SaddleBrown;
  width: 250px;
  border: 2px outset Coral;
  border-radius: 10px;
  padding: 5px 25px;
}

.fact {
  font-style: italic;
}

ul {
  font-size: 14px;
  list-style-type: none;
  padding-left: 0px;
}

span {
  font-weight: bold;
}

p {
  font-size: 15px;
}
